/* Genral CSS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400;500;600&family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* Transition */
a,
.btn {
    transition: 300ms ease;
}

/* Desktop Navigation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: arcifrom;
    src: url("./Font/ArciformFF/Arciform.otf") format("opentype");
}

--text-color {

    color: rgb(92, 89, 89)
}

;



.container {
    width: fit-content;
}

.navbar {
    display: flex;
    background-image: linear-gradient(to right, #000000, #000000);
    box-shadow: 3px 3px 10px #FFA72B;
    justify-content: space-between;
    margin-bottom: 1rem;

}

.logo-img {
    width: 8.4rem;
    margin-left: 5rem;
    align-content: center;

}

.logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 0rem;
}

.logo-text {
    font-size: 1rem;
    margin-left: -1.2rem;

}

.nav-items {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    margin-right: 1.7rem;
}

.items {
    color: rgb(255, 255, 255);
    font-size: 17px;

}

.items:hover {

    font-weight: 600;
    font-size: 19px;
    transition: 0.5s ease;
    color: #FFA72B;
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin: 2rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;

}

.faded-text {
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);

    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 4s;

}

.hero-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-heading {
    font-size: 25px;
    font-weight: 500;
    color: #000;
}

.hero-text {
    text-align: inherit;
}

.role {
    /* color:   rgb(83, 83, 255); */
    color: #FF4721;
    font-weight: 600;
    font-size: 25px;
}

.role1 {
    /* color:   rgb(83, 83, 255); */
    color: #FF4721;
    font-weight: 800;
    font-size: 35px;
}

.hero-description {
    /* margin: 1rem; */
    /* width: 80%; */
    color: #FFA72B;
    font-size: 1.2rem;
    float: inline-start;
    line-height: 1.6;
    /* text-align: start; */
    text-align: start;



}

.btn-pink {
    font-size: 18px;
    width: fit-content;
    background-color: #FF4721;
    border: 0;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    color: white;
    cursor: pointer;
    border: solid 3px transparent;
    font-weight: 500;
    position: relative;
    z-index: 1;

}

.btn-pink::before {
    content: "";
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;

}

.btn-pink:hover::before {
    transform: scaleX(1);

}

.btn-pink:hover {
    /* border: soli; */
    color: #000;
}


.hero-img {
    position: relative;
}

/* .absolute{
    position: absolute;
    
    z-index: 1;
    left: -1px;
    width: 70px;
    height: 70px;
    transform: rotateZ(0deg);
}
 */


.user-img {
    width: 300px;
    height: 300px;
    background-color: black;
    padding: 2.0rem;
    border-radius: 5% 15%;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 4s linear infinite alternate;

}

.user-img1 {
    width: 300px;
    height: 300px;
    background-color: #FF4721;
    padding: 2.0rem;
    border-radius: 15% 5%;

    transition: all 1s;
    animation: scaleImage 3s linear infinite alternate;
    position: absolute;
    left: -10px;

}

.user-img {

    /* background-color: #0CB1C4; */
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.user-img1 {

    /* background-color: #0CB1C4; */
    animation-name: spin1;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spin1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes scaleImage {
    0% {
        filter: grayscale(0);
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        filter: grayscale(0);
        padding: 1.5rem;
        background-color: black;

        box-shadow: 3px 3px 10px rgb(58, 58, 58);
    }

    100% {
        transform: scale(1);
        filter: grayscale(0);
        padding: 2.0rem;
        box-shadow: 4px 4px 11px rgb(21, 21, 21);
    }

}


.sub-heading {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: black;
    font-weight: bold;

}

.hackathon-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 5rem;
    flex-wrap: wrap;
    align-items: stretch;

}

.hackathon-details {
    margin: 2rem 5%;
    display: grid;
    justify-content: space-evenly;
    align-items: flex-start;

}

.text-para {
    margin-top: 1rem;
    width: 80%;
    text-align: inherit;


}

.list-items {
    margin-left: 3rem;
}

.hack-col {
    display: flex;
    justify-content: space-evenly;
}


.hack-card-img {
    width: 350px;
    height: 350px;
    background-image: linear-gradient(to right, #FF4721, #FFA72B);
    padding: 1.5rem;
    border-radius: 5% 10%;

}


.startup-card {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;

    margin: 0.5rem;
}

.startup {
    border: #FF4721 2px solid;
    text-align: center;


}

.jobs-internships-section {
    margin-top: 6rem;
    margin-bottom: 10rem;
    /* display: flex; */
    /* justify-content: space-around; */
    padding: 1rem;
    background-color: #f8f8f8;
}

.job-img {
    width: 350px;
    height: 270px;
    border-radius: 5%;
    justify-content: center;
    margin: 2rem;
    align-items: center;
    /* margin-left: 1.5rem; */
    margin-bottom: 1.2rem;
    box-shadow: 3px 3px 10px rgb(58, 58, 58);
}

.job-intern {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.content {
    /* background-color: #f0f0f0; */
    padding: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.data {
    display: flex;
    justify-content: center;
}


.text-para {
    text-align: center;
    line-height: 1.3;

}

.column {
    display: flex;
    justify-content: center;
    /* gap: 1rem; */

}

.text-head {
    /* text-align: right ; */
    padding: 0.8rem;
    font-size: 22px;
    font-weight: 500;
    color: #FF4721;
    margin-left: 2rem;
    margin-right: 1.5rem;
    width: 60%;

}

.text1 {

    width: 60%;
    margin-left: 1.8rem;
    margin-right: 1.5rem;
    text-align: center;
    padding: 5px;
    color: #FFA72B;
    text-wrap: stable;
    letter-spacing: 1;


}

.text-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
}

.para-text {
    text-align: right;

    gap: 1rem;
}

.feature {
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

/* .job-heading-deatils{
flex-direction: column;
height: auto;
} */

.bold-text {
    font-weight: bold;
}

.career-content {
    flex-direction: column;
    margin: 2rem;

}

.career-inner-heading {
    padding: 0.8rem;
    font-size: 20px;
    font-weight: 500;
    color: #343d68;
}

.career-container {
    width: 50%;
    display: inline;
    justify-content: left;
}

.career-inner-para {
    width: 45%;
    text-align: left;
}


.career-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem;


}

.career-content {
    align-items: center;
    margin-left: 10%;
}

.text-para2 {
    text-align: center;
    font-weight: 600;
    width: 50%;
}

.Hackingly-card {
    display: grid;

    grid-template-columns: 50% 50%;
    grid-area: auto;
    justify-items: center;
}

.startup-view {
    justify-self: center;
}

.startup-text {
    justify-self: end;
    width: 60%;
    color: #fff;
    background-color: #FF4721;
    margin-left: 10rem;
    padding: 1.5rem;

}

.heading {
    margin-left: 10rem;
}

.interview-preparation-section {
    flex-wrap: wrap;
    background-color: #f8f8f8;
    justify-content: center;
}

.left-panel {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

.right-panel {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.unlist {
    text-align: center;
    list-style-type: none;
    color: #FFA72B;
    font-size: 1.2rem;
    gap: 1rem;

}

p {
    color: #666;
    line-height: 1.6;
}

.career-img {
    padding: 0.8rem;
    max-width: 100%;
    height: auto;
    border-radius: 8% 15%;
    /* margin-right: -10rem ; */
    padding: 1.4rem;
    /* background-color: #FF4721; */
    background-image: linear-gradient(to right, #FFA72B, #FF4721);

    margin-bottom: 2rem;

}

.career-img:hover {
    background-color: #FF4721;
    cursor: pointer;
}

.mySlides-img {
    width: 400px;
    height: 350px;

}



#cta {
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 3rem;
    height: auto;
    margin-top: 10rem;
    margin-bottom: 5rem;

}

#cta .btn-pink {
    background-color: #FF4721;
    font-weight: 600;
    margin-top: 1rem;

}

.form-container {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    max-width: 30%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 1rem;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;

    border-radius: 4px;
}

button {
    background-color: #008080;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


footer {
    background-color: black;
    color: #FF4721;
    padding: 1.4rem 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links a,
.social-media-icons a {
    color: #FF4721;
    margin: 0 1rem;
    text-decoration: none;
}



.copyright-info {
    flex: 1;
}